body {
  margin: 0;
  background-color: #1b1a1a;
  scroll-behavior: smooth;
}
.navbar {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  position: fixed;
  width: 100%;
  z-index: 2;
  left: 0;
  top: 0;
  justify-content: space-between;
  background-color: #111;
}
.color-orange {
  color: rgb(254 197 68);
}
.bg-orange {
  background-color: rgb(254 197 68);
}
.navbar-icon {
  margin: 0;
  color: rgb(254 197 68);
  padding: 12px;
  padding-left: 20px;
  font-weight: 500;
  font-family: sans-serif;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  display: flex;
  padding: 15px;
  padding-right: 20px;
  gap: 8px;
}
.nav-list li {
  margin: 0;
}
.nav-list a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: sans-serif;
}

#home {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: space-evenly;
  width: 100%;
}

.home-info {
  animation: fade-up both;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
}

.home-info-text {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
}

.home-info-name {
  font-size: 40px;
  color: #fff;
  text-shadow: 2px 1px 5px rgb(237, 173, 23);
  font-weight: 500;
}

.home-info-position {
  font-size: 25px;
  font-weight: 500;
  color: rgb(254 197 68);
}
.home-info-position::after {
  content: "MERN Stack Developer";
  animation: text-change both linear;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transition: transform linear 1s, opacity ease-out 750ms;
}

@keyframes text-change {
  0% {
    transform: translateZ(200px);
    opacity: 0;
    content: "MERN Stack Developer";
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    content: "MERN Stack Developer";
  }
  30% {
    transform: translateZ(200px);
    opacity: 0;
    content: "Web Developer";
  }
  45% {
    transform: translateZ(0);
    opacity: 1;
    content: "Web Developer";
  }
  60% {
    transform: translateZ(200px);
    opacity: 0;
    content: "Web Designer";
  }
  70% {
    transform: translateZ(0);
    opacity: 1;
    content: "Web Designer";
  }
  85% {
    transform: translateZ(200px);
    opacity: 0;
    content: "Freelancer";
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
    content: "Freelancer";
  }
}

.home-info-btn {
  background: rgb(237, 173, 23);
  color: black;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  padding: 10px;
}

.home-img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 4px solid rgb(254 197 68);
  animation: fade-up both;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: scale(0.7) translateZ(150px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
.image-reveal {
  animation: image-reveal both;
  animation-timeline: view();
  animation-range: entry 20% cover 40%;
  animation-timing-function: ease;
  animation-duration: 3s;
}
@keyframes image-reveal {
  0% {
    opacity: 0;
    scale: 0.6;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    scale: 1;
    transform: translateY(0px);
  }
}

#about {
  padding: 2rem;
}

.about-title {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(237, 173, 23);
  font-size: 35px;
  text-shadow: 1px 1px 2px;
  margin: 0;
  margin-top: 5px;
  font-weight: 600;
}
.text-appear {
  animation-name: text-appear;
  animation-timing-function: ease-in-out;
  animation-timeline: view();
  animation-range: entry 20% cover 50vh;
  animation-duration: 7s;
}

@keyframes text-appear {
  0% {
    opacity: 0;
    transform: translateY(120px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.about-container {
  display: flex;
  margin-top: 1rem;
  gap: 2%;
}
.about-text {
  width: 49%;
  padding: 1rem;
  border-left: 3px solid rgb(237, 173, 23);
  border-radius: 5px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  background-color: #2a2727;
  box-shadow: 1px 1px 4px 0px rgb(237, 173, 23);
  text-align: justify;
}
.about-education {
  background-color: rgb(215, 158, 25, 0.7);
  color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
  padding: 1rem;
  width: 49%;
  font-family: Arial, Helvetica, sans-serif;
}

.education-title {
  font-size: 25px;
  font-weight: 500;
  margin: 2px;
}
.education-degree {
  font-size: 20px;
  font-weight: 400;
  margin: 2px;
}
.education-university {
  font-size: 15px;
  font-weight: 500;
  margin: 2px;
}
.education-year {
  font-size: 14px;
  font-weight: 400;

  margin: 2px;
  color: #bfbdbd;
}

#skill {
  padding: 1rem;
  padding-bottom: 0;
  text-align: center;
}

.skill-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(237, 173, 23);
  font-size: 32px;
  text-shadow: 1px 1px 2px;
  margin: 0;
  font-weight: 600;
}

.skill-container {
  justify-self: center;
  margin-top: 1rem;
  column-gap: 7px;
  row-gap: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}
.skill-text {
  color: rgb(237, 173, 23);
  border: 1px solid rgb(237, 173, 23);
  display: inline-block;
  margin: 0;
  font-size: 16px;
  text-shadow: 1px 1px 2px black;
  padding: 7px 12px;
  border-radius: 4px;
  transition: background-color 700ms linear;
  animation: image-reveal both;
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
  animation-timing-function: linear;
  animation-duration: 8s;
}
.skill-text:hover {
  background-color: rgb(237, 173, 23);
  color: #fff;
  box-shadow: 1px 1px 1px;
}

#project {
  padding: 2rem;
  padding-bottom: 0;
}
.project-title {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(237, 173, 23);
  font-size: 30px;
  text-shadow: 1px 1px 2px;
  margin: 0;
  font-weight: 600;
}

.project-container {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  column-gap: 2%;
  row-gap: 1rem;
}

.project-box {
  width: 31%;
  box-sizing: border-box;
  background-color: #2a2727;
  padding: 1rem;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 3px rgb(219, 156, 7);
}
.project-img {
  width: 100%;
  border-radius: 6px;
}
.project-name {
  font-size: 18px;
  margin: 4px 0;
  text-align: center;
  color: rgb(237, 173, 23);
}
.project-stack {
  font-size: 15px;
  margin: 4px 0;
  text-align: center;
  color: #fff;
  margin: 3px 0;
}
.project-view {
  background-color: rgb(219, 156, 7);
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 10px 1rem;
  border-radius: 6px;
}
.project-view:hover {
  box-shadow: 1px 2px 4px;
  background-color: rgb(210, 148, 4);
  cursor: pointer;
}
.justify-center {
  justify-self: center;
  margin: 3px 0;
}
.project-git {
  border: 1px solid rgb(210, 148, 4);
  color: #fff;
  font-size: 16px;
  padding: 10px 1rem;
  cursor: pointer;
  border-radius: 6px;
  background-color: transparent;
  transition: background-color 1s linear;
}
.project-git:hover {
  background-color: rgb(210, 148, 4);
  color: #fff;
  box-shadow: 1px 2px 4px;
}

#contact {
  padding: 2rem;
  padding-bottom: 1rem;
}
.contact-title {
  text-align: center;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(237, 173, 23);
  font-size: 30px;
  text-shadow: 1px 1px 2px;
  margin: 0;
  font-weight: 500;
}
.contact-container {
  display: flex;
  margin-top: 1rem;
  gap: 4%;
}
.contact-form {
  width: 48%;
  box-shadow: 1px 1px 2px 1px rgb(210, 148, 4);
  padding: 2rem;
  border-radius: 8px;
  background-color: #2a2727;
}
.contact-input {
  box-sizing: border-box;
  width: 100%;
  background-color: #312f2f;
  color: #f4efef;
  resize: none;
  margin-bottom: 6px;
  border-radius: 5px;
  border: 1px solid #6a6868;
  font-size: 15px;
  padding: 10px;
  outline: none;
  transition: border 300ms, box-shadow 300ms;
}
.contact-input:focus {
  border: 2px solid rgb(210, 148, 4);
  box-shadow: 1px 1px 1px rgb(210, 148, 4);
}

.contact-submit_btn {
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(194, 148, 40);
  color: #f4efef;
  margin-bottom: 6px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 17px;
  padding: 10px;
  outline: none;
  transition: background-color 300ms, box-shadow 300ms;
}
.contact-submit_btn:hover {
  background-color: rgb(246, 174, 7);
  box-shadow: 1px 1px 3px;
}
.contact-info {
  width: 48%;
  box-shadow: 0px 0px 4px 0px rgb(210, 148, 4);
  border-left: 5px solid rgb(194, 148, 40);
  padding: 2rem;
  border-radius: 8px;
  background-color: #2a2727;
  color: #fff;
}
.contact-info_title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin: 0;
  font-size: 27px;
}
.contact-info_box {
  display: flex;
  gap: 7px;
  padding: 9px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}
.contact-icon {
  font-size: 2rem;
  color: rgb(194, 148, 40);
}
.contact-info-name {
  margin: 0;
  font-size: 17px;
  font-weight: 600;
}
.contact-info_detail {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
}
.contact-info_follow {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  margin-top: 4px;
  font-size: 19px;
  font-weight: 500;
}

.contact-social_box {
  display: flex;
  margin-top: 6px;
  gap: 4px;
}
.contact-social_icon {
  font-size: 1.3rem;
  color: rgb(194, 148, 40);
  padding: 10px;
  border-radius: 50%;
  background-color: #312f2f;
}
